<div class="container-fluid bg-overlay-image">
  <div class="row overlay flex-center">
    <mat-card>
      <form [formGroup]="loginForm">
        <h2 class="m0 font16 text-gradient text-center">{{'title' | translate}}</h2>
        <div>
          <mat-form-field class="w-100-p">
            <mat-label>{{'username' | translate}}<span class="red">*</span></mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100-p">
            <mat-label>{{'password' | translate}}<span class="red">*</span></mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="pull-right w-100-p" (click)="login()">{{'login' | translate}}</button>
        <a class="text-center" routerLink="/signup">{{'registration' | translate}}</a>
        <!-- <button mat-stroked-button (click)="openSnackBar('Login Success', 'Dismiss')">Show snack-bar</button> -->
      </form>
    </mat-card>
  </div>
</div>