.bg-overlay-image{
    background-image: url('../../../assets/images/apple.jpg');
    height: 100%;
    width:100%;
    background-size: cover;
}
.overlay{
    background-color: rgb(8 7 19 / 50%);;
    height: inherit;
}