$my-primary: (
  50: #0ac17e,
  100: #0ac17e,
  200: #0ac17e,
  300: #0ac17e,
  400: #0ac17e,
  500: #0ac17e,
  600: #0ac17e,
  700: #0ac17e,
  800: #0ac17e,
  900: #0ac17e,
  A100: #0ac17e,
  A200: #0ac17e,
  A400: #0ac17e,
  A700: #0ac17e,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-secondary: (
  50: #9e11b7,
  100: #9e11b7,
  200: #9e11b7,
  300: #9e11b7,
  400: #9e11b7,
  500: #9e11b7,
  600: #9e11b7,
  700: #9e11b7,
  800: #9e11b7,
  900: #9e11b7,
  A100: #9e11b7,
  A200: #9e11b7,
  A400: #9e11b7,
  A700: #9e11b7,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);
